svg rect {
  animation: lds-spinner 0.8s infinite;
  fill-opacity: 0;
}

svg rect:nth-child(1) {
  animation-delay: 0.8s;
}

svg rect:nth-child(2) {
  animation-delay: 0.7s;
}

svg rect:nth-child(3) {
  animation-delay: 0.6s;
}

svg rect:nth-child(4) {
  animation-delay: 0.5s;
}

svg rect:nth-child(5) {
  animation-delay: 0.4s;
}

svg rect:nth-child(6) {
  animation-delay: 0.3s;
}

svg rect:nth-child(7) {
  animation-delay: 0.2s;
}

svg rect:nth-child(8) {
  animation-delay: 0.1s;
}

@keyframes lds-spinner {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}
