@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #010101;
  --background: #efefef;
  --shadow-cursor: 216, 144, 29, 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-cursor: 216, 144, 29, 0.5;
    --foreground: #ffffff;
    --background: #010101;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* ::selection {
  background-color: var(--foreground);
  color: var(--background);
} */

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/canela/Canela-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/canela/Canela-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
}

.log-item {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
