@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #010101;
  --background: #efefef;
  --shadow-cursor: 216, 144, 29, 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-cursor: 216, 144, 29, 0.5;
    --foreground: #ffffff;
    --background: #010101;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* ::selection {
  background-color: var(--foreground);
  color: var(--background);
} */

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Thin'),
    url('/fonts/canela/Canela-Thin.woff2') format('woff2'),
    url('/fonts/canela/Canela-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-ThinItalic'),
    url('/fonts/canela/Canela-ThinItalic.woff2') format('woff2'),
    url('/fonts/canela/Canela-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Light'),
    url('/fonts/canela/Canela-Light.woff2') format('woff2'),
    url('/fonts/canela/Canela-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-LightItalic'),
    url('/fonts/canela/Canela-LightItalic.woff2') format('woff2'),
    url('/fonts/canela/Canela-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Regular'),
    url('/fonts/canela/Canela-Regular.woff2') format('woff2'),
    url('/fonts/canela/Canela-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-RegularItalic'),
    url('/fonts/canela/Canela-RegularItalic.woff2') format('woff2'),
    url('/fonts/canela/Canela-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Medium'),
    url('/fonts/canela/Canela-Medium.woff2') format('woff2'),
    url('/fonts/canela/Canela-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-MediumItalic'),
    url('/fonts/canela/Canela-MediumItalic.woff2') format('woff2'),
    url('/fonts/canela/Canela-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Bold'),
    url('/fonts/canela/Canela-Bold.woff2') format('woff2'),
    url('/fonts/canela/Canela-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-BoldItalic'),
    url('/fonts/canela/Canela-BoldItalic.woff2') format('woff2'),
    url('/fonts/canela/Canela-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Black'),
    url('/fonts/canela/Canela-Black.woff2') format('woff2'),
    url('/fonts/canela/Canela-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-BlackItalic'),
    url('/fonts/canela/Canela-BlackItalic.woff2') format('woff2'),
    url('/fonts/canela/Canela-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
